body {
    touch-action: pan-y;
}
.title-of-stat {
    position: absolute;
    top: 110px;
    left: 200px;
    color: #fff;
    font-family: "Pusia";
    font-size: 50px;
}
.line-stat-1 {
    position: absolute;
    top: 200px;
    left: 200px;
    height: 1px;
    width: 1510px;
    border-top: 1px solid #868686;
}
.author {
    position: absolute;
    top: 220px;
    left: 200px;
    color: #636363;
    font-family: "Franklin Gothic Medium";
    font-size: 30px;
}
.gen-text {
    position: absolute;
    top: 300px;
    left: 200px;
    height: 7700px;
    width: 1510px;
}
.first-st-txt {
    position: relative;
    top: 0px;
    left: 0px;
    color: #ffffff;
    font-family: "Franklin Gothic Medium";
    font-size: 40px;
}
.f-img-st-1 {
    position: relative;
    top: 0px;
    float: right;
    height: 270px;
    margin-left: 7px;
    width: 313px;
}
.rtx2060 {
    position: absolute;
    top: 800px;
    left: 255px;
    width: 1000px;
    height: 500px;
    border-radius: 15px;
}
.rtx2060-l {
    position: absolute;
    top: 1310px;
    left: 411px;
    color: #6b6b6b;
    font-family: "Franklin Gothic Medium";
    font-size: 25px;
    padding-right: 10px;
}
.second-st-txt {
    position: absolute;
    top: 1350px;
    left: 0px;
    color: #ffffff;
    font-family: "Franklin Gothic Medium";
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.KPT-8-screen {
    position: absolute;
    top: 1645px;
    left: 255px;
    width: 1000px;
    height: 572px;
    border-radius: 15px;
}
.KPT-8-l {
    position: absolute;
    top: 2227px;
    left: 642px;
    color: #6b6b6b;
    font-family: "Franklin Gothic Medium";
    font-size: 25px;
    padding-right: 10px;
}
.third-st-txt {
    position: absolute;
    top: 2267px;
    left: 0px;
    color: #ffffff;
    font-family: "Franklin Gothic Medium";
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.stp-c {
    position: absolute;
    top: 2570px;
    left: 255px;
    width: 1000px;
    height: 576px;
    border-radius: 15px;
}
.stp-c-l {
    position: absolute;
    top: 3156px;
    left: 635px;
    color: #6b6b6b;
    font-family: "Franklin Gothic Medium";
    font-size: 25px;
    padding-right: 10px;
}
.fourth-st-txt {
    position: absolute;
    top: 3196px;
    left: 0px;
    color: #ffffff;
    font-family: "Franklin Gothic Medium";
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.stp-2 {
    position: absolute;
    top: 3495px;
    left: 255px;
    width: 1000px;
    height: 577px;
    border-radius: 15px;
}
.stp-2-l {
    position: absolute;
    top: 4077px;
    left: 635px;
    color: #6b6b6b;
    font-family: "Franklin Gothic Medium";
    font-size: 25px;
    padding-right: 10px;
}
.fifth-st-txt {
    position: absolute;
    top: 4117px;
    left: 0px;
    color: #ffffff;
    font-family: "Franklin Gothic Medium";
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.stp-5 {
    position: absolute;
    top: 4370px;
    left: 255px;
    width: 1000px;
    height: 577px;
    border-radius: 15px;
}
.stp-5-l {
    position: absolute;
    top: 4955px;
    left: 531px;
    color: #6b6b6b;
    font-family: "Franklin Gothic Medium";
    font-size: 25px;
    padding-right: 10px;
}
.sixth-st-txt {
    position: absolute;
    top: 4995px;
    left: 0px;
    color: #ffffff;
    font-family: "Franklin Gothic Medium";
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.mx-2 {
    position: absolute;
    top: 5305px;
    left: 255px;
    width: 1000px;
    height: 574px;
    border-radius: 15px;
}
.mx-2-l {
    position: absolute;
    top: 5889px;
    left: 669px;
    color: #6b6b6b;
    font-family: "Franklin Gothic Medium";
    font-size: 25px;
    padding-right: 10px;
}
.mx-4 {
    position: absolute;
    top: 5929px;
    left: 255px;
    width: 1000px;
    height: 574px;
    border-radius: 15px;
}
.mx-4-l {
    position: absolute;
    top: 6513px;
    left: 432px;
    color: #6b6b6b;
    font-family: "Franklin Gothic Medium";
    font-size: 25px;
    padding-right: 10px;
}
.seventh-st-txt {
    position: absolute;
    top: 6553px;
    left: 0px;
    color: #ffffff;
    font-family: "Franklin Gothic Medium";
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.frost-x25 {
    position: absolute;
    top: 6800px;
    left: 255px;
    width: 1000px;
    height: 577px;
    border-radius: 15px;
}
.frost-x25-l {
    position: absolute;
    top: 7387px;
    left: 485px;
    color: #6b6b6b;
    font-family: "Franklin Gothic Medium";
    font-size: 25px;
    padding-right: 10px;
}
.eighth-st-txt {
    position: absolute;
    top: 7422px;
    left: 0px;
    color: #ffffff;
    font-family: "Franklin Gothic Medium";
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.footer-third-st {
    position: absolute;
    top: 8070px;
    background-color: #191a1b;
    width: 1920px;
    height: 170px;
    left: 0px;
}